#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
  <script language="Javascript" src="/public/javascripts/connect.js"></script>
  <script src="@{'/public/javascripts/jquery.tmpl.js'}" type="text/javascript" language="javascript" charset="utf-8"></script>
#{/set}

<script type="text/javascript">

$(document).ready(function() {
    var connection = new Connection({
        userId: ${user.id},
        username: '${user.username}',
        password: '${user.password}',
        error: function(data) {
            console.log(data);
        }
    });

    var inited = false;

    // Get the user's details
    connection.getUser(function(user) {
        $('#stateTemplate').tmpl(user).appendTo($('#state').empty());
    });

    // Start polling for updates
    var showing = {};
    connection.startPoll(function(updates) {
        var newest = [];
        for(var i = 0; i < updates.length; i++) {
            var update = updates[i];
            if(showing[update.id]) {
                // TODO
            } else {
                newest.push(update.id);
                showing[update.id] = updates[i];
            }
        }
        
        for(var i = 0; i < newest.length; i++) {
            $('#updateTemplate').tmpl(showing[newest[i]]).appendTo('#updates');
        }
    });

});
</script>


<div id="friends-page">
  <div id="state"></div>
  <ul id="updates">
  </ul>
</div>

<script type="text/x-jquery-tmpl" id="stateTemplate">
  {{= name}}

  {{if mood}}
    <img src="/public/images/smiley-16.png" />
  {{else}}
    <img src="/public/images/frowny-16.png" />
  {{/if}}
</script>

<script type="text/x-jquery-tmpl" id="updateTemplate">
  <li>
    <div class="name">
      {{= name}}
    </div>
    {{if mood}}
      <img src="/public/images/smiley-16.png" />
    {{else}}
      <img src="/public/images/frowny-16.png" />
    {{/if}}
  </li>
</script>

