#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
  #{script 'connect.js' /}
  #{script 'jquery.tmpl.js' /}
  #{script 'base64.js' /}
#{/set}

<script type="text/javascript">

$(document).ready(function() {
    var connection = new Connection({
        userId: ${user.id},
        username: '${user.username}',
        password: '${user.password}',
        error: function(data) {
            console.log(data);
        }
    });

    var inited = false;

    
    // Get the user's details
    var userDetails = {};
    function updateUserDetails() {
        $('#stateTemplate').tmpl(userDetails).appendTo($('#state').empty());
        $('#state img').click(function() {
            userDetails.mood = !userDetails.mood;
            connection.setMood(function() {}, userDetails.mood);
            updateUserDetails();
        })
    }
    connection.getUser(function(user) {
        userDetails = user;
        updateUserDetails();
    });

    
    // Start polling for updates
    var showing = {};
    connection.startPoll(function(updates) {
        var newest = [];
        for(var i = 0; i < updates.length; i++) {
            var update = updates[i];
            if(showing[update.id]) {
                // TODO
            } else {
                newest.push(update.id);
                showing[update.id] = updates[i];
            }
        }
        
        for(var i = 0; i < newest.length; i++) {
            $('#updateTemplate').tmpl(showing[newest[i]]).appendTo('#updates');
        }
    });

});
</script>


<div id="friends-page">
  <div id="state"></div>
  <ul id="updates">
  </ul>
</div>

<script type="text/x-jquery-tmpl" id="stateTemplate">
  {{= name}}

  {{if mood}}
    <img src="/public/images/smiley-16.png" />
  {{else}}
    <img src="/public/images/frowny-16.png" />
  {{/if}}
</script>

<script type="text/x-jquery-tmpl" id="updateTemplate">
  <li>
    <div class="name">
      {{= name}}
    </div>
    {{if mood}}
      <img src="/public/images/smiley-16.png" />
    {{else}}
      <img src="/public/images/frowny-16.png" />
    {{/if}}
  </li>
</script>

