#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
  <script language="Javascript" src="/public/javascripts/connect.js"></script>
#{/set}

<script type="text/javascript">
var viewModel = null;

$(document).ready(function() {
    var connection = new Connection({
        userId: ${user.id},
        username: '${user.username}',
        password: '${user.password}',
        success: update,
        error: function(data) {
            console.log(data);
        }
    });

    viewModel = {
        name: ko.observable(),
        state: ko.observable(),
        friends: ko.observableArray([]),
        toggleState: function() {
            viewModel.state(!viewModel.state());
            connection.setMood(viewModel.state());
        }
    };

    var inited = false;
    function update(user) {
        viewModel.name(user.name)
        viewModel.state(user.state)
        viewModel.friends(user.friends)

        if(!inited) {
            ko.applyBindings(viewModel);
            inited = true;
        }
    }

    connection.startPoll();
});
</script>


<div data-bind='template: { name: "pageTemplate", data: viewModel }'></div>

<script type="text/html" id="pageTemplate">
  <div data-bind='template: { name: "stateTemplate", data: viewModel }'></div>
  <div data-bind='template: { name: "friendsTemplate", data: viewModel }'></div>
</script>


<script type="text/html" id="stateTemplate">
  {{= name()}}
  <img src="/public/images/smiley-16.png" data-bind="visible: state(), click: toggleState" />
  <img src="/public/images/frowny-16.png" data-bind="visible: !state(), click: toggleState" />
</script>


<script type="text/html" id="friendsTemplate">
  <ul>
    {{each(i, friend) friends}}
      <li>
        <div class="name">
          {{= name}}
        </div>
        <img src="/public/images/smiley-16.png" data-bind="visible: friend.state" />
        <img src="/public/images/frowny-16.png" data-bind="visible: !friend.state" />
      </li>
    {{/each}}
  </ul>
</script>

